<template>
    <div class="">
        <buttonexpand-component></buttonexpand-component>
        <sidebar-component
            :url="url"
            :auth_name="auth_name"
            :auth_email="auth_email"
            :auth_token="auth_token">
        </sidebar-component>
    </div>
</template>

<script>
    export default {
        props: [
          'url', 'auth_name', 'auth_email', 'auth_token'
        ],
        mounted() {

        }
    }
</script>
