<template>
    <div class="">
       <div class="sidebar-header">
            <div class="user-pic">
                <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg" alt="User picture">
            </div>
            <div class="user-info">
                <span class="user-name">
                <strong>{{ auth_name }}</strong>
                </span>
                <span class="user-role">{{ auth_email }}</span>
                <span class="user-status">
                <i class="fa fa-circle"></i>
                <span>Online</span>
                </span>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
          'auth_name', 'auth_email'
        ],
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
