<template>
    <div class="sidebar-footer">
        <a href="#">
            <i class="fa fa-bell"></i>
            <!-- <span class="badge badge-pill badge-warning notification">3</span> -->
        </a>
        <a href="#">
            <i class="fa fa-envelope"></i>
            <!-- <span class="badge badge-pill badge-success notification">7</span> -->
        </a>
        <a href="#">
            <i class="fa fa-cog"></i>
            <!-- <span class="badge-sonar"></span> -->
        </a>
        <a href="#" title="Desconectar" onclick="event.preventDefault();
                            document.getElementById('logout-form').submit();">
            <i class="fa fa-power-off"></i>
            <span class="badge-sonar"></span>
        </a>

        <form id="logout-form" v-bind:action="logout_route" method="POST" style="display: none;">
            <input type="hidden" name="_token" v-bind:value="auth_token">
        </form>

    </div>
</template>

<script>
    export default {
        props: [
            'url', 'auth_token'
        ],
        data () {
            return {
                logout_route: this.url + '/logout'
            }
        },
        mounted() {

        }
    }
</script>
