<template>
    <div class="sidebar-menu">
        <ul>
            <li class="header-menu">
                <span>General</span>
            </li>
            <li>
                <a v-bind:href="dashboard">
                    <i class="fa fa-book"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li class="header-menu">
                <span>Módulos</span>
            </li>

            <!-- Concesionarios -->
            <li class="sidebar-dropdown">
                <a href="#">
                    <i class="fa fa-tachometer-alt"></i>
                    <span>Concesionarios</span>
                </a>
                <div class="sidebar-submenu">
                    <ul>
                        <li>
                            <a v-bind:href="index_autodealers_route">Tablero</a>
                        </li>
                    </ul>
                </div>
            </li>

            <!-- Clientes -->
            <li class="sidebar-dropdown">
                <a href="#">
                    <i class="fa fa-tachometer-alt"></i>
                    <span>Clientes</span>
                </a>
                <div class="sidebar-submenu">
                    <ul>
                        <li>
                            <a v-bind:href="create_client_route">Cargar cliente</a>
                        </li>
                        <li>
                            <a v-bind:href="index_client_route">Tablero</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        props: [
          'url'
        ],
        data() {
            return {
                create_client_route: this.url + '/clients/create',
                index_client_route: this.url + '/clients',
                index_autodealers_route: this.url + '/autodealers',
                dashboard: this.url + '/home'
            }
        },
        mounted() {

        }
    }
</script>
