<template>
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <sidebar-brand-component></sidebar-brand-component>
            <sidebar-user-component :auth_name="auth_name" :auth_email="auth_email"></sidebar-user-component>
            <sidebar-search-component></sidebar-search-component>
            <sidebar-menu-component :url="url"></sidebar-menu-component>
        </div>

        <sidebar-footer-component :url="url" :auth_token="auth_token"></sidebar-footer-component>
    </nav>

</template>

<script>
    export default {
        props: [
          'url', 'auth_name', 'auth_email', 'auth_token'
        ],
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
