<template>
    <div class="">
        <div class="sidebar-brand">
            <a href="#">Nationals Cars</a>
            <div id="close-sidebar">
                <i class="fas fa-times"></i>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
