<template>
    <td>{{ description }}</td>
</template>

<script>
    export default {
        props: [
            'city_id', 'url'
        ],
        data(){
            return {
                description: ''
            }
        },
        methods:{
            obtainAutoDealer(id){
                let url = this.url + '/api/cities/' + id;
                let _this = this;

                axios.get(url).then(function (response){
                    _this.description = response.data.data.description;
                });
            },
        },
        mounted() {
            this.obtainAutoDealer(this.city_id);
        }
    }
</script>
