<template>
    <div class="">
        <table class="table table-hover table-striped ">
            <thead>
                <tr>
                    <th scope="col">Description</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Ciudad</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="autodealer in autodealers"
                :key="autodealer.id">
                    <td v-text="autodealer.description"></td>

                    <autodealers-table-state-component
                        :state_id="autodealer.state_id"
                        :url="url">
                    </autodealers-table-state-component>

                    <autodealers-table-city-component
                        :city_id="autodealer.city_id"
                        :url="url">
                    </autodealers-table-city-component>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        props: [
            'url'
        ],
        data(){
            return {
                autodealers: []
            }
        },
        methods:{
            getAutodealers(){
                let url = this.url + '/api/autodealers';
                let me = this;

                axios.get(url).then(function (response){
                    me.autodealers = response.data.data;
                });
            },
        },
        mounted() {
            this.getAutodealers();
        }
    }
</script>
