<template>
    <div class="">
        <title-component :titulo="titulo"></title-component>
        <autodealers-table-component :url="url"></autodealers-table-component>
    </div>
</template>

<script>
    export default {
        props: [
            'url'
        ],
        data (){
            return {
                titulo: 'Concesionarios'
            }
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
