<template>
    <div class="">

        <div class="row">
            <div class="col-sm-12 col-md-4">
                <client-search-by-autodealer-component :url="url" @changefilter="activeChangefilter"></client-search-by-autodealer-component>
            </div>
        </div>

        <table class="table table-hover table-striped ">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Cédula</th>
                    <th scope="col">Concesionario</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(client, index) in clients"
                :key="client.id">
                    <td v-text="client.name"></td>
                    <td v-text="client.lastname"></td>
                    <td v-text="client.nacionality + '-' + client.document_number"></td>
                    <client-table-autodealer-component
                        :dealer_id="client.auto_dealer_id"
                        :url="url">
                    </client-table-autodealer-component>
                    <td>
                        <a v-bind:href="url + route_edit + client.id" class="btn btn-primary">
                            <i class="fa fa-edit"></i>
                        </a>

                        <a href="#" class="btn btn-danger" v-on:click="onClickDelete(index, client.id)">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        props: [
            'url'
        ],
        data(){
            return {
                clients: [],
                route_edit: '/clients/edit/'
            }
        },
        methods:{
            getClients(url){
                let _this = this;

                axios.get(url).then(function (response){
                    _this.clients = response.data.data;
                });
            },

            activeChangefilter(auto_dealer_id)
            {
                let url = this.url + '/api/clients?search=' + auto_dealer_id;
                this.getClients(url);
            },

            onClickDelete(index, client_id)
            {
                let _this = this;
                let url = this.url + '/api/clients/' + client_id;

                axios.delete(url).then(function (response){
                    _this.clients.splice(index, 1);

                    Push.create("Cliente eliminado exitosamente!", {
                        // body: "How's it hangin'?",
                        icon: 'https://img.icons8.com/nolan/64/mac-client.png',
                        timeout: 6000,
                    });
                });
            }
        },
        mounted() {
            let url = this.url + '/api/clients';
            this.getClients(url);
        }
    }
</script>
