<template>
    <div class="form-group">
        <label for="auto_dealer_id">Filtrar por concesionario</label>
        <select class="form-control" name="auto_dealer_id" v-on:change="changeFilter()" v-model="autodealer_id">
            <option value="0">Todos</option>
            <option v-for="autodealer in autodealers" :key="autodealer.id" v-bind:value="autodealer.id">{{ autodealer.description }}</option>
        </select>
    </div>
</template>

<script>
    export default {
        props: [
            'url'
        ],
        data (){
            return {
                autodealers: [],
                autodealer_id: ''

            }
        },
        methods:{
            getAutoDealers(id){
                let url = this.url + '/api/autodealers';
                let _this = this;

                axios.get(url).then(function (response){
                    _this.autodealers = response.data.data;
                });
            },

            changeFilter()
            {
                this.$emit('changefilter', this.autodealer_id);
            }
        },
        mounted() {
            this.getAutoDealers();
        }
    }
</script>
