<template>
    <div>
        <div v-if="validated" class="alert alert-danger">
            {{ message }}
        </div>

        <form class="row" action="" v-on:submit.prevent="createClient()">
            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input name="name" type="text" class="form-control" v-model="client.name">
                </div>
            </div>

            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <label for="lastname">Apellido</label>
                    <input name="lastname" type="text" class="form-control" v-model="client.lastname">
                </div>
            </div>

            <div class="col-sm-12 col-md-2">
                <div class="form-group">
                    <label for="nacionality">Nacionalidad</label>
                    <select class="form-control" name="nacionality" v-model="client.nacionality">
                        <option value=""></option>
                        <option value="V">V</option>
                        <option value="E">E</option>
                    </select>
                </div>
            </div>

            <div class="col-sm-12 col-md-2">
                <div class="form-group">
                    <label for="document_number">Número de documento</label>
                    <input name="document_number" type="text" class="form-control" v-model="client.document_number">
                </div>
            </div>

            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <label for="address">Dirección</label>
                    <input name="address" type="text" class="form-control" v-model="client.address">
                </div>
            </div>

            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <label for="phone">Télefono</label>
                    <input name="phone" type="text" class="form-control" v-model="client.phone">
                </div>
            </div>

            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <label for="email">Correo electrónico</label>
                    <input name="email" type="text" class="form-control" v-model="client.email">
                </div>
            </div>

            <div class="col-sm-12 col-md-4">
                <select-state-component :url="url"></select-state-component>
            </div>

            <div class="col-sm-12 col-md-4">
                <select-city-component :url="url"></select-city-component>
            </div>

            <div class="col-sm-12 col-md-4">
                <select-autodealer-component :url="url"></select-autodealer-component>
            </div>

            <div class="col-sm-12 col-md-4">
                <button type="submit" class="btn btn-success">Guardar</button>
            </div>
        </form>
    </div>
</template>

<script>

    export default {
        mounted() {

        },
        props: [
            'url'
        ],
        data() {
            return {
                client: {
                    name: '',
                    lastname: '',
                    nacionality: '',
                    document_number: '',
                    address: '',
                    phone: '',
                    email: '',
                    state_id: '',
                    city_id: '',
                    auto_dealer_id: ''
                },
                message: '',
                validated: false
            }
        },
        methods: {
            createClient()
            {
                const params = {
                    name: this.client.name,
                    lastname: this.client.lastname,
                    nacionality: this.client.nacionality,
                    document_number: this.client.document_number,
                    address: this.client.address,
                    phone: this.client.phone,
                    email: this.client.email,
                    state_id: this.client.state_id,
                    city_id: this.client.city_id,
                    auto_dealer_id: this.client.auto_dealer_id
                };

                let url = this.url + '/api/clients';
                let _this = this;

                axios.post(url, params).then(function (response){
                    _this.validated = false;
                    _this.cleanFields();

                    Push.create("Cliente guardado exitosamente!", {
                        // body: "How's it hangin'?",
                        icon: 'https://img.icons8.com/nolan/64/mac-client.png',
                        timeout: 6000,
                    });
                }).catch(error => {
                    _this.message = null;
                    _this.validated = true;

                    var code = error.response.data.code;
                    var error = error.response.data.error;

                    if (code == 422)
                    {
                        if (Array.isArray(error.name)) return _this.message = error.name[0];
                        if (Array.isArray(error.lastname)) return _this.message = error.lastname[0];
                        if (Array.isArray(error.nacionality)) return _this.message = error.nacionality[0];
                        if (Array.isArray(error.document_number)) return _this.message = error.document_number[0];
                        if (Array.isArray(error.address)) return _this.message = error.address[0];
                        if (Array.isArray(error.phone)) return _this.message = error.phone[0];
                        if (Array.isArray(error.email)) return _this.message = error.email[0];
                        if (Array.isArray(error.state_id)) return _this.message = error.state_id[0];
                        if (Array.isArray(error.city_id)) return _this.message = error.city_id[0];
                        if (Array.isArray(error.auto_dealer_id)) return _this.message = error.auto_dealer_id[0];
                    }
                });
            },

            cleanFields()
            {
                this.client.name= '';
                this.client.lastname= '';
                this.client.nacionality= '';
                this.client.document_number= '';
                this.client.address= '';
                this.client.phone= '';
                this.client.email= '';
                this.client.state_id= '';
                this.client.city_id= '';
                this.client.auto_dealer_id= '';
            }
        }
    }
</script>
