<template>
    <div class="">
        <title-component :titulo="titulo"></title-component>
        <client-form-component :url="url"></client-form-component>
    </div>
</template>

<script>
    export default {
        props: [
            'url'
        ],
        data (){
            return {
                titulo: 'Nuevo Cliente'
            }
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
