<template>
    <div class="">
        <title-component :titulo="titulo"></title-component>
        <client-form-edit-component :client="client" :url="url"></client-form-edit-component>
    </div>
</template>

<script>
    export default {
        props: [
            'url', 'client_id'
        ],
        data (){
            return {
                titulo: 'Editar Cliente',
                client: Object
            }
        },
        methods: {
            obtainClient() {

                let url = this.url + '/api/clients/' + this.client_id;
                let _this = this;

                axios.get(url).then(function (response){
                    _this.client = response.data.data;
                })
            }
        },
        mounted() {
            this.obtainClient();
        }
    }
</script>
