<template>
    <div class="form-group">
        <label for="state_id">Estado</label>
        <select class="form-control" name="state_id" v-model="$parent.client.state_id">
            <option></option>
            <option v-for="state in states" :key="state.id" v-bind:value="state.id">{{ state.description }}</option>
        </select>
    </div>
</template>

<script>
    export default {
        props: [
            'value', 'url'
        ],
        data (){
            return {
                states: []
            }
        },
        methods:{
            getStates(id){
                let url = this.url + '/api/states';
                let _this = this;

                axios.get(url).then(function (response){
                    _this.states = response.data.data;
                });
            },
        },
        mounted() {
            this.getStates();
        }
    }
</script>
