<template>
    <div class="form-group">
        <label for="city_id">Ciudad</label>
        <select class="form-control" name="city_id" v-model="$parent.client.city_id">
            <option></option>
            <option v-for="city in cities" :key="city.id" v-bind:value="city.id">{{ city.description }}</option>
        </select>
    </div>
</template>

<script>
    export default {
        props: [
            'value', 'url'
        ],
        data (){
            return {
                cities: []
            }
        },
        methods:{
            getCities(id){
                let url = this.url + '/api/cities';
                let _this = this;

                axios.get(url).then(function (response){
                    _this.cities = response.data.data;
                });
            },
        },
        mounted() {
            this.getCities();
        }
    }
</script>
