<template>
    <div class="form-group">
        <label for="auto_dealer_id">Concesionario</label>
        <select class="form-control" name="auto_dealer_id" v-model="$parent.client.auto_dealer_id">
            <option></option>
            <option v-for="autodealer in autodealers" :key="autodealer.id" v-bind:value="autodealer.id">{{ autodealer.description }}</option>
        </select>
    </div>
</template>

<script>
    export default {
        props: [
            'value', 'url'
        ],
        data (){
            return {
                autodealers: []
            }
        },
        methods:{
            getAutoDealers(id){
                let url = this.url + '/api/autodealers';
                let _this = this;

                axios.get(url).then(function (response){
                    _this.autodealers = response.data.data;
                });
            },
        },
        mounted() {
            this.getAutoDealers();
        }
    }
</script>
