<template>
    <div class="col-sm-12">
        <hr>

        <footer class="text-center">
            <div class="mb-2">
            <small>
                © 2020 made with <i class="fa fa-heart" style="color:red"></i> by -
                <a rel="noopener noreferrer" href="#">
                Haxiel Malave
                </a>
            </small>
            </div>

            <div>
            <a href="#">
                <img alt="GitHub followers" src="https://img.shields.io/github/followers/azouaoui-med?label=github&style=social" />
            </a>
            <a href="#">
                <img alt="Twitter Follow" src="https://img.shields.io/twitter/follow/azouaoui_med?label=twitter&style=social" />
            </a>
            </div>
        </footer>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
