<template>
    <div class="">
        <br>
        <h5>More templates</h5>
        <hr>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
