<template>
    <div class="">
        <h2>{{ titulo }}</h2>
        <hr>
    </div>
</template>

<script>
    export default {
        props: [
            'titulo'
        ],

        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
